html, body{
    margin:0; height:100%;
}
body{
    text-align: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
table tr th,table tr td{
    background-color: white;
}
table tr{
    height: 42px;
}
table{
    background-color: #ffcc9c;
}